 * {
    box-sizing: border-box;
}
 body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1b2838;
    color: white;
    overflow-x: hidden;
    
    
}
/* header and logo  */
header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #171a21;
    width: 100%;
    padding:0 10px;
    height: 70px;
    
}
.logo {
    width: 120px;
    height: auto;
    display: block;
}

header ul {
    position: absolute;
    padding: 0;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
    list-style: none;
    margin: 0;
    
}

header ul li {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
   
}
/* 
 .clear { 
    clear: both;
}  */

header ul li a {
    text-decoration-line: none;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:hover {
    border-bottom: 1px white solid;
}
/* all sections and section headers */
section {
    margin: 1vh auto;
    padding: 20px;
    text-align: center;
}

section h1{
    text-align: center;
    text-transform: capitalize;
}

/* make text blue when its active or hovered */
 header ul li a:hover,header ul li a.active {
    color: #66c0f4;
    border-bottom: 2px #66c0f4 solid;
    
    
}
/* table */
.game-table {
    width: 70%;
    margin: auto;

    
}

table {
    
    margin:auto;
    border-collapse: collapse;

}
/* header of table */
caption {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 20px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: #101822;
    font-weight: 500;
}

td {
    text-align: left;
    border-bottom: #2a475e solid 1px;
}
/* make all rows color lighter while hover is active */
tr:hover {
    background-color:#1f2f42;
    transition: 0.2s;
}

/* change color of 4th td from all columns */
td:nth-child(4) {
    color: #a4d007;
}

/* change color of 5th,6th td from all columns */
td:nth-child(5),
td:nth-child(6){
    color: #8f98a0;
}

td:nth-child(2) {
    padding: 0;
}

th:nth-child(2) {
    color:#8f98a0 ;
}

tr:nth-child(2) td:nth-child(3) a {
    color: #ffd800;
}

tr:nth-child(3) td:nth-child(3) a {
    color: #c0c0c0;
}

tr:nth-child(4) td:nth-child(3) a {
    color: #cd7f32;
}

/* rows animation  */
@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.game-row {
    animation: fadeup 0.5s ease forwards;
    opacity: 0;
}

.game-row:nth-child(1) {
    animation-delay: 0.1s;
}
.game-row:nth-child(2) {
    animation-delay: 0.2s;
}
.game-row:nth-child(3) {
    animation-delay: 0.3s;
}
.game-row:nth-child(4) {
    animation-delay: 0.4s;
}
.game-row:nth-child(5) {
    animation-delay: 0.5s;
}
.game-row:nth-child(6) {
    animation-delay: 0.6s;
}
.game-row:nth-child(7) {
    animation-delay: 0.7s;
}
.game-row:nth-child(8) {
    animation-delay: 0.8s;
}
.game-row:nth-child(9) {
    animation-delay: 0.9s;
}
.game-row:nth-child(10) {
    animation-delay: 1s;
}

/* logo if games in table */
 tr td img {
    width: 113px;
    height: 40px;
    display: block;
}

/* game details after hover in table */
#preview-card {
    position: fixed;
    width: 300px;
    background-color: #16202d;
    border: 1px solid #2a475e;
    padding: 10px;
    display: none;
    z-index: 100;
    pointer-events: none;
    border-radius: 8px; 
}

#preview-video {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

#preview-title {
    color: white;
    margin: 5px 0;
}

#platforms {
    margin-bottom: 5px;
}

#developer,
#release {
    font-size: 13px;
    color: #8f98a0;
}

#tags {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    background-color: #2a475e;
    color: #c7d5e0;
    padding: 3px 6px;
    margin: 4px;
    font-size: 12px;
    border-radius: 4px;
}

/* Home back ground */
.bg-video {
    position: relative;
    height: 75vh;
    overflow: hidden;
    width: 100%;
    margin-top: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    z-index: -1;
}

.bg-contant {
    position: relative;
    z-index: 1;
    height: 100%; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Games preview */
h2 {
    text-align: center;
}

.games-preview {
    position: relative;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: auto;
    
}

.game-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width: 280px;
    height: 400px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: transform 0.4s ease;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    color: white;

    background: linear-gradient(to top, rgba(0,0,0,0.95), transparent);

    transform: translateY(65%);
    transition: 0.4s ease;

}

.game-card:hover img {
    transform: scale(1.08);
}

.game-card:hover .details {
    transform: translateY(0);
    
}

.game-card:hover {
    transform: scale(1.08);
    z-index: 10;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 6px;
}

.tags span {
    background: rgba(255,255,255,0.1);
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 4px;
}

.platforms {
    font-size: 18px;
    margin-bottom: 8px;
    color: #66c0f4;
}

.desc {
    font-size: 13px;
    line-height: 1.4;
}

.platforms,
.tags,
.desc {
    opacity: 0;
    transition: 0.3s;
}

.game-card:hover .platforms,
.game-card:hover .tags,
.game-card:hover .desc {
    opacity: 1;
}

/* scroll botton */
#scrollTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;

    width: 45px;
    height: 45px;

    border: none;
    border-radius: 50%;

    background: rgba(102, 192, 244, 0.15);
    color: #66c0f4;

    font-size: 20px;
    cursor: pointer;

    backdrop-filter: blur(6px);
    transition: 0.3s;

    opacity: 0;
    pointer-events: none;
}

#scrollTopBtn:hover {
    background: #66c0f4;
    color: #0b141f;
    transform: scale(1.1);
}


#scrollTopBtn.show {
    opacity: 1 ;
    pointer-events: auto;
}


/* ===== About Section ===== */
.about-section {
    position: relative;
    height: 85vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


/* Cards container */
.about-details {
    position: relative;
    z-index: 1;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-card {
    background: rgba(15, 23, 32, 0.5);
    border: 1px solid rgba(102, 192, 244, 0.25);

    padding: 25px 30px;
    width: 320px;

    border-radius: 14px;

    color: #e5e5e5;
    text-align: left;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 12px 40px rgba(0,0,0,0.65);

    transition: 0.3s ease;
}


.profile-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 18px 60px rgba(0,0,0,0.8);
}


.profile-card h2 {
    text-align: center;
    color: #66c0f4;
    margin-bottom: 18px;
    letter-spacing: 1px;
}


.profile-card p {
    margin: 10px 0;
    font-size: 14px;
    color: #c7d5e0;
}

.profile-card span {
    color: #8f98a0;
    font-weight: bold;
}


.profile-card a {
    color: #66c0f4;
    text-decoration: none;
    
}

.profile-card a:hover {
    text-decoration: underline;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 15px;
    background-color: #171a21;
    font-size: 14px;

    border-top: 1px solid #2a475e;

    box-sizing: border-box;

    font-size: 14px;
    font-weight: 500;
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

footer a img {
    width: 24px;
    height: auto;
    
    transition: 0.3s;
    
}

footer a img:hover {
    transform: scale(1.1);
}